//- subLayout2.pug
extends layout2.jade

block content
    .sidebar
        block sidebar
            p Layout2 sidebar
    .primary
        block primary
            p Layout2 primary

block newsInsert
    .sidebar
        block primarynews
            p SubLayout2 primarynews
    .secondary
        block secondary
            p SubLayout2 secondary
